html { box-sizing: border-box; font-size: 16px; }
*, *:before, *:after { box-sizing: inherit; }
body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; }
ol, ul { list-style: none; }
img { max-width: 100%; height: auto; }
a { text-decoration: none; color: inherit; }
button {outline: none; border: none;}

/* font-family: 'Montserrat', sans-serif; */

p {
    font-family: 'Montserrat', sans-serif;
}

.size-section {
    max-width: 100%;
    margin: auto;
}

h3 {
    /* h3 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height, or 133% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 36px;
    padding-bottom: 70px;
}

.nav-top {
    display: flex;
    align-items: center;
    /* link */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}

.size-content-header {
    width: 860px;
}

.wrapper-content-header {
    margin: auto;
    display: flex;
    margin-top: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    /* h1 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;

    /* or 138% */
    text-align: center;
    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}

h4 {
    /* h4 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    /* or 150% */
    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}

.text-content-header {
    padding: 40px 160.5px 40px 160.5px;
}

.buttons-header {
    padding-bottom: 120px;
    display: flex;
    width: 349px;
    justify-content: space-between;
}

.button-get-quote-now {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    height: 48px;

    /* primary-color */
    background: #FF7B47;
    border-radius: 37px;

    /* btn-text */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 200% */
    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}

.button-learn-more {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;

    height: 48px;

    /* secondary-color-1 */
    border: 1px solid #0D5C63;
    border-radius: 37px;

    /* btn-text */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 200% */
    text-align: center;
    letter-spacing: 0.2px;

    /* secondary-color-1 */
    color: #0D5C63;
}

h2 {
    /* h2 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    /* identical to box height, or 142% */
    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}

.header-title-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 864px;
}

.wrapper-title-section {
    padding-top: 145px;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
}

.text-title-section {
    padding-top: 10px;
    padding-left: 197px;
    padding-right: 197px;

    /* paragraph */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}

.card {
    width: 328px;
    height: 193px;
    margin-bottom: 100px;
    
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.container-card {
    margin: auto;
    width: 1046px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img-title {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
    gap: 15px;
}

h5 {
    /* h5 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}

.text-card {
    /* paragraph */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* or 143% */
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
    padding-right: 43px;
    padding-left: 40px;
    padding-bottom: 35px;
}

.bg-header {
    background: #FAFAFA;
}

.wrapper-contact-us {
    background-size: auto;
    background-image: url(images/bg-contact-us.png);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/bg-contact-us.png);
}

h6 {
    /* h6 */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    letter-spacing: 0.2px;

    /* muted-color */
    color: #BDBDBD;
}

.form-contact-us {
    width: 602px;
    padding-top: 90px;
    padding-bottom: 92px;
}

.after-contact-us-h3 {
    padding-top: 40px;
}

.after-contact-us-p {
    padding-bottom: 40px;
    /* paragraph */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}

.after-contact-us {
    display: flex;
    justify-content: space-between;
}

.bg-light-section {
    background: #FAFAFA;
}

.btn-text {
    /* btn-text */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    /* identical to box height, or 200% */
    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}

.button-countact-us {
    padding-left: 40px;
    padding-right: 40px;
    height: 58px;

    /* primary-color */
    background: #FF7B47;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-button-contact-us {
    padding-top: 42px;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}

.wrapper-field {
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    width: 285px;
    height: 50px;
    background: #F9F9F9;
    /* muted-color */
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.container-fileds {
    padding-top: 20px;
    display: flex;
}

.padding-top20 {
    margin-top: 20px;
}

.width-message {  
    width: 591px;
    height: 140px;
    align-items: flex-start;
    padding-top: 16px;
}

.padding-field {
    margin-right: 21px;
}

.button-book-appointment {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* primary-color */
    background: #FF7B47;
    border-radius: 5px;
}

.bg-footer {
    background: #252B42;
}

.h3-footer {
    /* light-text-color */
    color: #FFFFFF;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}

.socials {
    width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border-footer {
    margin-top: 57px;
    margin-bottom: 70px;

    border: 1px solid #364067;
}

.test-border {
    width: 8px;
    height: 14px;
    right: 12px;
    top: calc(50% - 14px/2 + 3px);

    /* second-text-color */
    background: #737373;
    transform: rotate(90deg);
}

.container {
    width: 1050px;
    margin: auto;
}

.container-menu-footer h5 {
    color: #FFFFFF;
    padding-bottom: 20px;
}

.container-menu-footer {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: flex-start;
}

.padding-a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    padding-bottom: 10px;
}

.bg-footer-2 {
    height: 74px;
    background: #17213C;
    display: flex;
    align-items: center;
}

.h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.bg1 {
    width: 204px;
    height: 58px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
}

.bg2 {
    width: 117px;
    height: 58px;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    /* light-text-color */
    
    color: #FFFFFF;
}

.button-bottom-1 {
    display: flex;
}

.text-bottom-1 {
    padding-left: 20px;
    padding-right: 107px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: calc(50% - 28px/2);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}

.text-bottom-2 {
    padding-left: 22.5px;
    padding-right: 22.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.text123 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}

.nav-top a {
    padding-right: 21px;
}

.icon-search-and-basket {
    gap: 17px;
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.icon-facebook {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/icons/icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-instagram {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/icons/icon-instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-twitter {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/icons/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-youtube {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/icons/icon-youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-toggle {
    position: absolute;
    width: 24px;
    height: 13.71px;
    left: calc(50% - 24px/2 + 649px);
    top: 45px;
}

.nav-bar-container {
    display: flex;
}

textarea::placeholder {
    color: #BDBDBD;
}

@media only screen and (max-width: 576px) {
    .container {
        width: calc(100% - 86px);
        margin: auto;
    }

    .nav-top {
        display: none;
    }

    .container-card {
        flex-direction: column;
        width: 100%;
    }

    h1 {
        /* h2 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    /* or 142% */
    text-align: center;
    letter-spacing: 0.2px;
    /* text-color */
    color: #252B42;
    }

    .buttons-header {
        display: block;
    }

    .size-content-header {
        width: auto;
    }

    .text-content-header {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .button-learn-more {
        margin-top: 25px;
    }

    .wrapper-title-section {
        padding-top: 75px;
    }

    .text-title-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .card {
        margin-bottom: 30px;
    }

    .buttons-header {
        padding-bottom: 52px;
    }

    .container-card {
        margin-bottom: 130px;
    }

    .form-contact-us {
        width: auto;
    }

    .container-fileds {
        display: block;
        padding-top: 0px;
    }

    .wrapper-field {
        margin-bottom: 20px;
    }

    .padding-top {
        margin-top: 40px;
    }

    .width-message {
        width: auto;
    }

    .padding-field {
        margin-right: 0px;
    }

    .wrapper-after-contact-us-text {
        padding-left: 46px;
        padding-right: 40px;
    }

    .after-contact-us {
        display: block;
    }

    .after-contact-us-p {
        padding-top: 10px;
        padding-right: 35px;
        padding-bottom: 0px;
    }

    .wrapper-button-contact-us {
        padding-top: 50px;
        margin-bottom: 40px;
    }

    .footer-top {
        display: block;
    }

    .h3-footer {
        padding-bottom: 63px;
    }

    .border-footer {
        display: none;
    }
}